@use '../abstracts/' as *;

body {
  font-family: $font-primary;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  color: $darkBlue;
}

p {
  color: $darkGrayishBlue;
}

.heading-primary {
  @include text($fs-xl, 700);
}

.heading-secondary {
  @include text($fs-700, 700);
}

.heading-tertiary {
  @include text($fs-400, 700);
}

.paragraph {
  @include text($fs-400, 400, 2);
}
