@use '../abstracts/' as *;

.btn {
  display: inline-block;
  border: none;
  padding: 1.5rem 3.5rem;
  font-size: $fs-300;
  font-weight: 700;
  border-radius: 10rem;
  cursor: pointer;

  &--primary {
    background-color: $brightRed;
    box-shadow: 0px 15px 15px -10px #ff9f8e;
    color: $white;
  }

  &--secondary {
    background-color: $white;
    box-shadow: 0px 15px 15px -10px #db5943;
    color: $brightRed;
  }
}
