/* FONTS */
$font-primary: 'Be Vietnam Pro', sans-serif;

/* PRIMARY */
$brightRed: #f25f3a;
$darkBlue: #242d52;

/* NEUTRAL */
$darkGrayishBlue: #9095a7;
$darkGray: #949498;
$veryDarkBlue: #1d1e25;
$veryPaleRed: #ffefeb;
$veryLightGray: #fafafa;
$white: #ffffff;

/* FONT SIZES */
$fs-xl: clamp(4rem, 4vw + 1rem, 5.6rem);
$fs-700: 4rem;
$fs-600: 2.4rem;
$fs-500: 1.8rem;
$fs-400: 1.6rem;
$fs-350: 1.5rem;
$fs-300: 1.4rem;
$fs-xs: 1.3rem;
