@use '../abstracts/' as *;

.header {
  position: relative;
  padding: 7rem 0;

  &__wrapper {
    @include flexbox($justify: space-between, $align: center);

    &::after {
      content: url('../../../images/bg-tablet-pattern.svg');
      @include position($position: absolute, $bottom: 20rem, $right: -10rem);
      z-index: -1;
    }
  }

  &__content {
    width: 50%;
  }
}
